#speciescollapsible{
    background-color:ivory;
    height: 100%;
    width: 100%;
    overflow: hidden;
  
  }
  .selected{
    stroke:darkslategray;
    fill: none;
    stroke-width: 3px;
  }
  
  .reset-selected{
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
  }
  
  
  .node {
    cursor: pointer;
  }
  
  
  .node text {
  
  text-rendering: optimizeLegibility;
  font: 11px Helvetica, Arial, Verdana, sans-serif;
  background-color: transparent;
  color: #333;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  
  }
  
  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
  }
  
  #collapse-button{
  float: right;
  margin-right: 10px;
  margin-top: 20px;      
  }
  #expand-button{
  float: right;
  margin-right: 10px;
  margin-top: 20px;      
  }